<h2 class="title">Liste des Suggestions</h2>

<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Date</th>
        <th>Status</th>
        <th>actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let g of suggestions">
        <td>{{ g.title }}</td>
        <td>{{ g.description }}</td>
        <td>{{ g.category }}</td>
        <td>{{ g.date }}</td>
        <td>
          <span
            [class.status-open]="g.status === 'Open'"
            [class.status-done]="g.status === 'Done'"
            [class.status-pending]="g.status === 'Pending'">
            {{ g.status }}
          </span>
        </td>
        <td> <button  [routerLink]="['./detail',g.id]">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>
